---
import MainLayout from "../layouts/MainLayout.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Subscribe from "../components/Subscribe.astro";
import Footer from "../components/Footer.astro";
import ScrollReveal from "../components/ScrollReveal/ScrollReveal.jsx";
import Tools from "../components/Tools.astro";
---

<MainLayout title="Portofolio Bayu">
  <Navbar />
  <Hero />
  <About />

  <div data-aos="fade-up">
    <ScrollReveal
      client:visible
      baseOpacity={0}
      enableBlur={true}
      baseRotation={1}
      blurStrength={3}
      textClassName="text-xl text-2xl font-medium text-gray-600"
    >
      My name is Bayu Apriansyah Putra, a Full-Stack Web Developer from
      Indonesia focusing on web application development using Laravel and
      JavaScript. I have experience building structured, scalable backend
      systems, along with responsive, user-friendly UIs. I have a strong
      interest in software architecture, clean code, and efficient development
      processes, and am actively learning the latest technologies and practices
      in web development. I am open to collaboration on new projects, freelance
      work, and job opportunities to create meaningful and sustainable digital
      solutions.
    </ScrollReveal>
  </div>

  <Tools />

  <section id="projects" class="mt-24">
    <h2 class="text-3xl font-bold mb-2">Showcase Project</h2>
    <p class="mb-6 text-gray-500">
      Here are some of my latest projects. I'm always working on something new,
      so check back often!
    </p>
    <div data-aos="fade-right">
      <ProjectCard
        image="/project/p1.png"
        title="Point Of Sale App"
        desc="Created with Laravel, Bootstrap, MySQL, and SB Admin"
      />
    </div>
    <div data-aos="fade-left" data-aos-duration="600">
      <ProjectCard
        image="/project/p2.png"
        title="Booking Reservatiom System"
        desc="Created with Laravel, TailwindCSS, MySQL, and Payment Gateway"
      />
    </div>
  </section>

  <Subscribe />
  <Footer />
</MainLayout>
