---
import "../styles/global.css";
---

<div
  class="min-h-screen flex flex-col justify-center items-center text-center px-6"
>
  <h1 class="text-3xl font-bold">YEYY, Terima kasih! &#127881</h1>

  <p class="text-gray-600 mt-3 max-w-md">
    Pesan kamu sudah berhasil dikirim. Pesan akan membalas secepatnya melalui
    email.
  </p>

  <a  
    href="https://bayuapriansyahp.netlify.app/"
    class="mt-8 bg-black text-white px-6 py-3 rounded-xl hover:opacity-90 transition"
  >
    Kembali ke Beranda
  </a>
</div>
