---

---

<section class="mt-24" id="about-me">
  <h2 class="text-3xl font-bold mb-2">Tools & Technologies</h2>
  <p class="text-lg text-gray-500 ml-1">My professional skills</p>
  <div
    class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6"
  >
    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/js.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">JavaScript</h3>
          <p class="text-sm text-gray-500">Programming Language</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/php.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">PHP</h3>
          <p class="text-sm text-gray-500">Programming Language</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/Laravel.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">Laravel</h3>
          <p class="text-sm text-gray-500">Backend Framework</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/mysql.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">MySQL</h3>
          <p class="text-sm text-gray-500">Database</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/tailwind.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">TailwindCSS</h3>
          <p class="text-sm text-gray-500">CSS Framework</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/bootstrap.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">Bootstrap</h3>
          <p class="text-sm text-gray-500">CSS Framework</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/html.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">HTML</h3>
          <p class="text-sm text-gray-500">Markup Language</p>
        </div>
      </div>
    </div>
    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/css.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">CSS</h3>
          <p class="text-sm text-gray-500">Cascading Style Sheet</p>
        </div>
      </div>
    </div>

    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/github.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">GitHub</h3>
          <p class="text-sm text-gray-500">Repository Hosting</p>
        </div>
      </div>
    </div>
    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/figma.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">Figma</h3>
          <p class="text-sm text-gray-500">Design App</p>
        </div>
      </div>
    </div>
    <div class="group" data-aos="fade-up">
      <div
        class="flex items-center gap-4 p-5 rounded-xl shadow-md border border-gray-200 bg-white transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl"
      >
        <img src="/icon/vscode.png" class="w-12 h-12 object-contain" />
        <div>
          <h3 class="font-semibold">VS Code</h3>
          <p class="text-sm text-gray-500">Code Editor</p>
        </div>
      </div>
    </div>
  </div>
</section>
